.profileScreen {
    display: flex;
    justify-content: space-evenly;
}

.profilePerson {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileDog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePerson__image {
    position: relative;
    width: 50vh;
    height: 50vh;
    margin-top: 10px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}

.profileDog__image {
    position: relative;
    width: 50vh;
    height: 50vh;
    margin-top: 10px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}